@font-face {
  font-family: "cherrybomb";

  src: url("fonts/cherrybomb-regular-webfont.woff") format("woff");
}

:root {
  --primaryColor: #3bb06f;
  --text-color: #ebeff3;
  --basic-text-font: "Raleway", sans-serif;
  --form-color: #cccbd1;
}

body {
  background-color: #2f2c2c;
}

/* navbar info */
.navbar {
  background-color: #272727 !important;
}

.navbarInfo {
  color: var(--primaryColor);
  font-family: "cherrybomb", Arial, sans-serif;
  font-size: 45px;
}

.navbarLink {
  color: var(--text-color);
}

.navbarLink:hover {
  color: var(--primaryColor);
}

/* Any titles on the home page outside of the Navbar*/
.homeTitles {
  color: var(--primaryColor);
  font-family: "cherrybomb", Arial, sans-serif;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 21%;
}

/*css withing the "create a bet" and "my bets" containers*/
.container-md {
  display: block;
  margin-top: 0;
  padding: 2%;
  background-color: #343434;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.betContainerStyle {
  display: flex;
  justify-content: center;
  font-family: var(--basic-text-font);
}

/*form styling*/
.form {
  display: flex;
  justify-content: center;
}

.formPlayerName,
.formSportDropdown,
.formCheckbox,
.betStatNumber {
  background-color: var(--form-color);
  border: 1px solid var(--form-color);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.betStatNumber {
  display: block;
  margin-top: 5px;
  padding: 1%;
  background-color: var(--form-color);
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.form-check {
  padding-left: 36px;
  padding-top: 5px;
}

.addLegStyle {
  padding-bottom: 5px;
}
.addLegStyle,
.createBetStyle {
  margin-top: 5px;
  margin-left: 0.5px;
  margin-right: 0.5px;
}

/*my bet styling*/
.whichBet {
  color: var(--primaryColor);
  font-style: italic;
  font-weight: 600;
}
.betStat {
  color: var(--text-color);
}

.DataTypes {
  color: var(--text-color);
}
.info {
  color: var(--text-color);
}

hr {
  color: var(--text-color);
}

.endBet {
  border: 2px solid var(--primaryColor);
}
.game {
  color: var(--text-color);
  padding: 1%;
}

/*styling for the FAQ page*/
.faqContainer {
  display: flex;
  justify-content: center;

  margin-top: 30px;
}
.faqAccordion {
  background-color: #272727 !important;
  border-radius: 5px;
}
.question {
  text-align: center;
  font-family: "cherrybomb", Arial, sans-serif;
  color: var(--primaryColor);
  font-size: 35px;
}

.answer {
  text-align: center;
  color: var(--text-color);
}
