:root {
  --primaryColor: #4a7aef;
}

body {
  background-color: #272727;
}

.navbarInfo {
  color: #4a7aef;
  font-family: "Archivo Black", sans-serif;
}

.form {
  display: flex;
  justify-content: center;
}

.container-md {
  display: block;
  margin: auto;
  margin-top: 15px;
  border: solid 2px var(--primaryColor);
  border-radius: 3px;
}

.DataTypes {
  color: #ebeff3;
}
.Info {
  color: #ebeff3;
}
